.nav-list {
  justify-self: center;
  align-self: center;
  display: flex;
  text-transform: uppercase;
  gap: 100px;
}

.nav-list__link {
  color: var(--text-dark);
  font-weight: 500;
  transition: opacity 0.3s ease-in-out;
}

.nav-list__link:hover {
  opacity: 0.6;
}

@media (max-width: 960px) {
  .nav-list {
    display: none;
  }
}
