@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'), local('Lato-Medium'),
    url('latomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'),
    url('latoregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'),
    url('latobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
